:root {
    --node-bg-color: #f1f1f1;
    --node-bg-color-hover: #f8f8f8;
    --node-bg-color-active: #e2e2e2;
    --node-bg-color-cleared: #ffffff;

    --node-bg-color-start: #7ed321;
    --node-bg-color-end: #639530;
    --node-bg-color-path: #f5a623;

    --button-bg-color: #4a90e2;
    --button-bg-hover: #76b5ff;
    --button-bg-active: #235896;

    --gap: 1.8rem;
    --radius: 3px;

    --border-color: var(--node-bg-color-active);
    --box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    --label-spacig: 0.2rem;

    --label-font-size: 0.7rem;
}

html, body {
    padding:0;
    margin:0;
}
