<template>
  <div>
    <span v-if="label" class="label">{{ label }}</span>
    <button :type="type" class="btn" >{{ title }}</button>
  </div>
</template>

<script>
export default {
  name: "BaseButton",
  data() {
    return {
      value: 0,
    }
  },
  props: {
    type: {
      type: String,
      default: 'submit',
    },
    title: {
      type: String,
      default: 'Generate',
    },
    label: {
      type: String,
      default: '',
    },
  }
}
</script>

<style scoped>

div {
  font-size: var(--label-font-size);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label {
  margin-bottom: var(--label-spacig);
}

.btn {
  color: #fff;
  border: 1px solid transparent;
  border-radius: var(--radius);
  background-color: var(--button-bg-color);
  box-shadow: var(--box-shadow);
  padding: 0.4rem 1rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn:hover, .hover .btn {
  background-color: var(--button-bg-hover);
}

.btn:active, .down .btn {
  background-color: var(--button-bg-active);
}

</style>