<template>
  <div>
    <span v-if="label" class="label">{{ label }}</span>
    <div class="node"></div>
  </div>
</template>

<script>

export default {
  name: "BaseNode",
  props: {
    label: {
      type: String,
      default: '',
    },
  }
}

</script>

<style scoped>

div {
  font-size: var(--label-font-size);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  margin-bottom: var(--label-spacig);
}

.node {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  background-color: var(--node-bg-color);
}

.hover .node {
  background-color: var(--node-bg-color-hover);
}

.down .node {
  background-color: var(--node-bg-color-active);
}

.clear .node {
  background-color: var(--node-bg-color-cleared);
}

.start .node {
  background-color: var(--node-bg-color-start);
}

.end .node {
  background-color: var(--node-bg-color-end);
}

.path .node {
  background-color: var(--node-bg-color-path);
}

</style>