<template>
  <label :for="id">
    <span class="label">{{title}}</span>
    <input
        :id="id"
        :type="type"
        :min="min"
        :max="max"
        v-model="value"
        @input="$emit('input', value)"
    >
  </label>
</template>

<script>
export default {
  name: "BaseInput",
  data() {
    return {
      value: 10,
    }
  },
  props: {
    id: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'number',
    },
    title: {
      type: String,
      default: '',
    },
    min: {
      type: String,
      default: '1',
    },
    max: {
      type: String,
      default: '20',
    }
  }
}
</script>

<style scoped>

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}

label {
  font-size: var(--label-font-size);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label {
  margin-bottom: var(--label-spacig);
}

input {
  text-align: center;
  min-width: 2rem;
  padding: 0.4rem 0.8rem;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
}

</style>