<template>
  <div class="main-container">
    <path-finder-generator @changed="(val) => generatorParams = val"></path-finder-generator>
    <path-finder-grid :params="generatorParams"></path-finder-grid>
  </div>
</template>

<script>
import PathFinderGrid from "./PathFinderGrid";
import PathFinderGenerator from "./PathFinderGenerator";

import {TypePathFinderParams} from "../customTypes/customTypes";

export default {
  name: "PathFinder",
  components: {
    PathFinderGrid,
    PathFinderGenerator,
  },
  data() {
    return {
      generatorParams: new TypePathFinderParams(),
    }
  },
}
</script>

<style scoped>

.main-container {
  width: 100%;
}

</style>