<template>
  <form @submit.prevent="submit">
    <base-input id="rows" title="Rows" v-model="rows"></base-input>
    <base-input id="columns" title="Columns" v-model="columns"></base-input>
    <base-button title="Generate"></base-button>
  </form>
</template>

<script>
import {TypePathFinderParams} from "../customTypes/customTypes"

export default {
  name: "PathFinderGenerator",
  data() {
    return {
      rows: 10,
      columns: 10,
    }
  },
  methods: {
    submit() {
      this.$emit('changed', new TypePathFinderParams(Number(this.rows), Number(this.columns)))
    }
  }
}

</script>

<style scoped>

form {
  --margin: 0.9rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 0.7rem;
  background-color: var(--node-bg-color);
  margin-bottom: var(--gap);
  border-radius: var(--radius);
}

form > * {
  margin: var(--margin);
}

label {
  position: relative;
}

label:nth-child(1n +2):before {
  content: 'x';
  position: absolute;
  left: calc(-1 * var(--margin) - 0.25em);
  bottom: 0.5em;
}

</style>