<template>
  <div class="pathfinder-grid" :data-width="grid.width" :data-height="grid.height">
    <div v-for="(yNode, yIndex) in nodes" :key="'x'+yIndex">
      <div v-for="(xNode, xIndex) in yNode" :key="'y'+xIndex" class="node">
        <div class="node-inner" :class="innerNodeClasses(xNode, xIndex, yIndex)"
             @click="nodeClicked(xIndex, yIndex, $event)">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const PF = require('pathfinding');
import {TypePathFinderParams} from "../customTypes/customTypes";

export default {
  name: "PathFinderGrid",
  props: {
    params: TypePathFinderParams,
    rows: {
      type: Number,
      default: 0
    },
    columns: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      startNodeY: 0,
      endNodeY: 0,
      matrix: [],
      finder: new PF.AStarFinder(),
      foundedPaths: [],
      foundedPathsJoined: [],
      pathjoinSeparator: '-',
    }
  },
  beforeMount() {
    this.initiateGrid();
  },
  computed: {
    grid() {
      return new PF.Grid(this.matrix);
    },
    nodes() {
      return this.grid?.nodes;
    },
    lastXnode() {
      return this.params.columns - 1;
    }
  },
  watch: {
    "matrix": function () {
      this.foundedPaths = this.finder.findPath(0, this.startNodeY, this.lastXnode, this.endNodeY, this.grid);
      this.foundedPathsJoined = this.foundedPaths.map(i => i.join(this.pathjoinSeparator));
    },
    "params": function () {
      this.initiateGrid();
    }
  },
  methods: {
    initiateGrid() {
      let matrix = new Array(this.params.rows);
      for (let i = 0; i < matrix.length; i++) {
        matrix[i] = new Array(this.params.columns).fill(1);
      }

      this.startNodeY = this.getRandomNodeY();
      this.endNodeY = this.getRandomNodeY();

      matrix[this.startNodeY][0] = 0;
      matrix[this.endNodeY][this.lastXnode] = 0;

      this.matrix = matrix;
    },
    nodeClicked(x, y) {
      if (this.isStartNode(x, y) || this.isEndNode(x, y)) {
        return;
      }

      this.toggleWalkable(x, y);
    },
    isStartNode(x, y) {
      return x === 0 && y === this.startNodeY;
    },
    isEndNode(x, y) {
      return x === this.lastXnode && y === this.endNodeY;
    },
    isPath(x, y) {
      return this.foundedPathsJoined.indexOf(`${x}${this.pathjoinSeparator}${y}`) !== -1;
    },
    toggleWalkable(x, y) {
      let newValue = this.matrix[y][x] === 0 ? 1 : 0;
      this.$root.$set(this.matrix[y], x, newValue);
    },
    getRandomNodeY() {
      return Math.floor(Math.random() * this.params.rows);
    },
    innerNodeClasses(xNode, xIndex, yIndex) {
      return {
        'cleared': xNode.walkable,
        'start': this.isStartNode(xIndex, yIndex),
        'end': this.isEndNode(xIndex, yIndex),
        'path': this.isPath(xIndex, yIndex)
      }
    }
  }

}
</script>

<style scoped>

.pathfinder-grid {
  display: flex;
  flex-direction: column;
}

.pathfinder-grid > div {
  display: flex;
  flex-direction: row;
}

.node {
  cursor: pointer;
  width: 100%;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.node-inner {
  height: 0;
  padding-bottom: 100%;
  background-color: var(--node-bg-color);
  transition: background-color 0.2s;
}

.node-inner:hover {
  background-color: var(--node-bg-color-hover);
}

.node-inner:active {
  background-color: var(--node-bg-color-active);
}

.cleared {
  background-color: var(--node-bg-color-cleared);
}

.start, .start:hover, .start:active, .start.path, .start.path:hover {
  background-color: var(--node-bg-color-start);
}

.end, .end:hover, .end:active, .end.path, .end.path:hover {
  background-color: var(--node-bg-color-end);
}

.path, .path:hover {
  background-color: var(--node-bg-color-path);
}

</style>