<template>
  <div>
    <h5>UI States</h5>

    <div class="states-wrapper">
      <base-button label="Default" type="button" title="Generate"></base-button>
      <base-button label="Hover" type="button" title="Generate" class="hover"></base-button>
      <base-button label="Down" type="button" title="Generate" class="down"></base-button>

      <base-node label="Filled (default)" class="new-row"></base-node>
      <base-node label="Hover" class="hover"></base-node>
      <base-node label="Down" class="down"></base-node>
      <base-node label="Clear" class="clear"></base-node>

      <base-node label="Start point" class="start new-row"></base-node>
      <base-node label="End point" class="end"></base-node>
      <base-node label="Shortest path" class="path"></base-node>
    </div>
  </div>
</template>

<script>

export default {
  name: "UiStates",
  data() {
    return {
      rows: 10,
      columns: 10,
    }
  },
}

</script>

<style scoped>

.states-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(var(--gap) / 1.15);
  align-items: flex-end;
}

.new-row {
  grid-column: 1;
}

div {
  text-align: left;
}

h5 {
  color: grey;
  margin-top: 0;
}

form {
  display: flex;
  align-items: flex-end;
  padding: 1rem 1.5rem;
  background-color: var(--node-bg-color);
  margin-bottom: var(--gap);
  border-radius: var(--radius);
}

form > *:nth-child(1n + 2) {
  margin-left: var(--margin);
}

label {
  position: relative;
}

label:nth-child(1n +2):before {
  content: 'x';
  position: absolute;
  left: calc(-1 * var(--margin) / 2 - 0.3em);
  bottom: 0.7em;
}

</style>