<template>
  <div id="app">
    <img class="logo" alt="Gridster logo" src="./assets/Gridster-Logo.png">
    <main-path-finder class="pathfinder-container"></main-path-finder>
    <div class="ui-states">
      <ui-states></ui-states>
    </div>
  </div>
</template>

<script>
import MainPathFinder from "./components/MainPathFinder";
import UiStates from "./components/UiStates";

export default {
  name: 'App',
  components: {
    MainPathFinder,
    UiStates,
  }
}
</script>

<style>
@import 'styles/style.css';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-gap: var(--gap);
  padding: var(--gap) 0;

  grid-template-areas:
      ". logo ."
      ". pathfinder ."
      ". uistates .";
}

@media (min-width: 700px) {
  #app {
    grid-template-columns: auto 50vh auto;
  }
}

.logo {
  width: 200px;
  max-width: 100%;
  grid-area: logo;
  align-self: flex-end;
}

.pathfinder-container {
  grid-area: pathfinder;
}

.ui-states {
  grid-area: uistates;
}

</style>
